BasedOnStyle: LLVM
IndentWidth: 4
AccessModifierOffset: -4
# basically BreakBeforeBraces: Allman but don't break lambdas
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: true
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeElse: true
PointerAlignment: Middle
SpaceAfterTemplateKeyword: false
AlwaysBreakTemplateDeclarations: Yes
