aclocal.m4
autom4te.cache
buildsys.mk
config.h
config.h.in
config.log
config.status
configure
extra.mk
audacious.pc
audclient.pc
man/audacious.1
man/audtool.1
src/audacious/audacious
src/audtool/audtool
src/dbus/aud-dbus.c
src/dbus/aud-dbus.h
src/libaudcore/audio.h
src/libaudcore/tinylock.h
src/libaudcore/tests/test
src/libaudcore/tests/test-mainloop
win32/audacious.nsi
win32/override/README.txt
.deps
*.a
*.diff
*.dll
*.dylib
*.exe
*.gcda
*.gcno
*.mo
*.moc
*.o
*.patch
*.so
*~
