[Desktop Entry]
Version=1.0
Type=Application
Name=Audacious
GenericName=Music Player
Comment=Listen to music
Icon=audacious
Categories=AudioVideo;Audio;Player;GTK;
Exec=audacious %U
TryExec=audacious
StartupNotify=true
Terminal=false
MimeType=application/ogg;application/x-cue;application/x-ogg;application/xspf+xml;audio/midi;audio/mp3;audio/mp4;audio/mpeg;audio/mpegurl;audio/ogg;audio/prs.sid;audio/x-flac;audio/x-it;audio/x-mod;audio/x-mp3;audio/x-mpeg;audio/x-mpegurl;audio/x-ms-asx;audio/x-ms-wma;audio/x-musepack;audio/x-s3m;audio/x-scpls;audio/x-stm;audio/x-vorbis+ogg;audio/x-wav;audio/x-xm;inode/directory;x-content/audio-cdda;

Comment[ar]=استمع إلى الموسيقى
Comment[be]=Слухайце музыку
Comment[bg]=Слушане на музика
Comment[ca]=Escolteu música
Comment[cs]=Poslouchat hudbu
Comment[da]=Lyt til musik
Comment[de]=Musik hören
Comment[el]=Ακρόαση μουσικής
Comment[eo]=Aŭskulti muzikon
Comment[es_CL]=Listado de musica
Comment[es_MX]=Escuchar la música
Comment[es]=Escuchar música
Comment[et]=Kuula muusikat
Comment[fa_IR]=به موسیقی گوش کنید
Comment[fi]=Kuuntele musiikkia
Comment[fr]=Écouter de la musique
Comment[gl]=Escoitar música
Comment[hr]=Slušanje glazbe
Comment[hu]=Zenehallgatás
Comment[id_ID]=Dengarkan musik
Comment[it]=Ascolta la musica
Comment[ja]=音楽を聴きます
Comment[ko]=음악을 들어요
Comment[lt]=Klausyti muzikos
Comment[lv]=Klausīties mūziku
Comment[ms]=Dengar muzik
Comment[nl]=Luister naar muziek
Comment[pl]=Słuchaj muzyki
Comment[pt_BR]=Ouça música
Comment[pt_PT]=Reprodução de músicas
Comment[pt]=Escuta musica
Comment[ro]=Ascultă muzică
Comment[ru]=Слушать музыку
Comment[sk]=Počúvajte hudbu
Comment[sr]=Слушајте музику
Comment[sv]=Lyssna på musik
Comment[tr]=Müzik dinleyin
Comment[uk]=Слухати музику
Comment[vi]=Nghe nhạc
Comment[zh_CN]=聆听音乐
Comment[zh_TW]=音樂鑑賞

GenericName[ar]=مشغل الموسيقى
GenericName[be]=Музычны прайгравальнік
GenericName[bg]=Музикален плейър
GenericName[ca]=Reproductor de música
GenericName[cs]=Hudební přehrávač
GenericName[da]=Musikafspiller
GenericName[de]=Musikspieler
GenericName[el]=Πρόγραμμα αναπαραγωγής μουσικής
GenericName[eo]=Muzik-ludilo
GenericName[es_CL]=Reproductor de musica
GenericName[es_MX]=Reproductor de Música
GenericName[es]=Reproductor de música
GenericName[et]=Muusikaesitaja
GenericName[fa_IR]=پخش کننده موسیقی
GenericName[fi]=Musiikkisoitin
GenericName[fr]=Diffuseur de musique
GenericName[gl]=Reprodutor de música
GenericName[hr]=Svirač glazbe
GenericName[hu]=Zenelejátszó
GenericName[id_ID]=Pemutar musik
GenericName[it]=Lettore musicale
GenericName[ja]=音楽プレイヤー
GenericName[ko]=음악 재생기
GenericName[lt]=Muzikos grotuvas
GenericName[lv]=Mūzikas atskaņotājs
GenericName[ms]=Pemain Muzik
GenericName[nl]=Muziekspeler
GenericName[pl]=Odtwarzacz muzyczny
GenericName[pt_BR]=Reprodutor de Música
GenericName[pt_PT]=Reprodutor áudio
GenericName[pt]=Reprodutor de musica
GenericName[ro]=Player de muzică
GenericName[ru]=Музыкальный проигрыватель
GenericName[sk]=Hudobný prehrávač
GenericName[sr]=Програм за слушање музике
GenericName[sv]=Musikspelare
GenericName[tr]=Müzik Çalar
GenericName[uk]=Музичний програвач
GenericName[vi]=Trình chơi nhạc
GenericName[zh_CN]=音乐播放器
GenericName[zh_TW]=音樂播放器
