<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Audacious</string>
	<key>CFBundleExecutable</key>
	<string>Audacious</string>
	<key>CFBundleIconFile</key>
	<string>Audacious.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.audacious-media-player</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>3.6-devel</string>
	<key>CFBundleName</key>
	<string>Audacious</string>
	<key>CFBundleShortVersionString</key>
	<string>3.6</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2001-2014 Audacious developers and others</string>
</dict>
</plist>
