<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Audacious</string>
	<key>CFBundleExecutable</key>
	<string>Audacious</string>
	<key>CFBundleIconFile</key>
	<string>Audacious.icns</string>
	<key>CFBundleIdentifier</key>
	<string>org.atheme.audacious</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>1.4.5</string>
	<key>CFBundleName</key>
	<string>Audacious</string>
	<key>CFBundleShortVersionString</key>
	<string>1.4</string>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2008 Atheme.org
All Rights Reserved.</string>
</dict>
</plist>
