<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleName</key>
	<string>Audacious</string>
	<key>CFBundleIdentifier</key>
	<string>org.audacious-media-player</string>
	<key>CFBundleDisplayName</key>
	<string>Audacious</string>
	<key>CFBundleIconFile</key>
	<string>Audacious</string>
	<key>CFBundleVersion</key>
	<string>4.5</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>Auda</string>
	<key>CFBundleExecutable</key>
	<string>audacious</string>
	<key>LSMultipleInstancesProhibited</key>
	<true/>
	<key>NSHighResolutionCapable</key>
	<true/>
	<key>NSHighResolutionMagnifyAllowed</key>
	<false/>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2001-2025 Audacious developers and others</string>
</dict>
</plist>
